*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:url("background.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar{
    background-color: black;
    padding: 15px 15px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    opacity: 0.5;
}
.logo img{
    height: 50px;
    width: 60px;
    margin: 10px 10px;
    border:2px solid white;
    border-radius: 50px;
    
}
.navbar ul{
    display: flex;
    gap: 20px;
}

.navbar li {
    list-style: none;   
}

.navbar li a{
    padding: 3px 10px;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    border-radius: 6px;
    transition: 0.3s;
}

.navbar li a:hover{
    color:black;
    background:white;
}

.search{
    margin-left: auto;
}

.search input{
    padding: 7px 20px;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    border: none;
    transition: 0.3s;
}
.search input:focus{
    width: 220px;
    box-shadow: 0 0 10px wheat;
}
