*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(150, 250, 237);
    height: 100vh;
}

.navbar{
    background-color: rgb(34, 5, 61);
    padding: 15px 15px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.navbar ul{
    display: flex;
    gap: 20px;
}

.navbar li {
    list-style: none;   
}

.navbar li a{
    padding: 3px 10px;
    text-decoration: none;
    color: aliceblue;
    border-radius: 6px;
    transition: 0.3s;
}

.navbar li a:hover{
    color:rgb(70, 34, 142);
    background:white;
}
